*{
  margin: 0;
  padding: 0;
}
header{
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
}
body{
  height: 100vh;
  background: grey url(./wall.jpg) no-repeat center center;
  background-size: cover;
}
main{
  height: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
div:nth-child(2){
  margin-left: 1em;
  margin-top: 2em;
}
div:nth-child(3){
  margin-left: 4em;
  margin-top: 2em;
}
kbd{
  width: 5em;
  height: 5em;
  border: 1px solid red;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  position: relative;
}
kbd button{
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
kbd:hover button{
  display: inline-block;
}
.key {
  width: 80px;
  height: 60px;
  background: linear-gradient(to bottom, #292929 0%, #111111 100%);
  border: 1px solid #373737;
  color: #c5c5c5;
  border-radius: 7px;
  box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 2px 0 1px #080808;
  margin: 0 5px;
  font-size: 16px;
  font-family: Helvetica;
  position: relative;
}
img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  bottom: 5px;
}
.text{
position: absolute;
left: 10px;
top: -35px;
}
